{% extends "base.html" %}

{% block content %}
<div class="card">
    <div class="card-header d-flex justify-content-center align-items-center">
        <h3 class="text-center">Sobre nós</h3>
        <img src="static/img/logo.png" class="img-fluid mx-2" width="40" height="40">
    </div>
    <div class="card-body">
        <p>Olá! Somos a "SOS Enchentes". Nossa equipe é composta por Bárbara Borges, Giuseppe Filippin, Isabelle Lopes e Pedro Leite. 
            O objetivo da nossa empresa é o desenvolvimento de sensores voltados a captar  temperatura e umidade. 
            Esses sensores têm a função de prever caso uma tempestade e/ou enchente se aproxima de uma determinada cidade. 
            Nosso sistema é composto por buzzers responsáveis em gerar sinais sonoros, e leds responsáveis por emitir luz caso uma enchente se aproxima.
    </div>
    <div class="card-footer text-center">
        <a class="btn btn-outline-primary" target="_blank" href="https://wokwi.com/projects/397452501866113025">WOKWI</a>
    </div>
</div>
{% endblock %}