{% extends"base.html" %}
{% block content%}
<div class="vertical-center">
    <div class="container view">
        <div class="justify-content-center">
        {% if actuators|length> 0 %}
            <table id="view_actuators" class="table table-secondary table-striped table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>Nome</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Unidade</th>
                        <th>Tópico</th>
                        <th>Ativo</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                {% for actuator in actuators %}
                    <tr>
                        <td>{{ actuator.name }}</td>
                        <td>{{ actuator.brand }}</td>
                        <td>{{ actuator.model }}</td>
                        <td>{{ actuator.unit }}</td>
                        <td>{{ actuator.topic }}</td>
                        <td>{{ actuator.is_active }}</td>
                        <td class="col-2">
                            <button type="button" class="btn btn-danger">
                                <a class="text-light" href="http://localhost:8080/del_actuator?id={{actuator.id}}">Deletar</a>
                            </button>
                            <button type="button" class="btn btn-primary">
                                <a class="text-light" href="http://localhost:8080/edit_actuator?id={{actuator.id}}">Editar</a>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <form action= "http://localhost:8080/add_actuator" method="POST">
                <input type="text" name="name" placeholder="Nome do atuador">
                <input type="text" name="brand" placeholder="Marca">
                <input type="text" name="model" placeholder="Modelo">
                <input type="text" name="unit" placeholder="Unidade">
                <input type="text" name="topic" placeholder="Tópico">
                <label for="is_active">Ativo:</label>
                <input type="checkbox" name="is_active" id="is_active" placeholder="Ativo" checked>
                <button type="submit" class="btn btn-primary">Adicionar Atuador</button>
            </form>
        {% else %}
            <p>Ainda não há atuadores registrados!<p>
            <form action= "http://localhost:8080/add_actuator" method="POST">
                <input type="text" name="name" placeholder="Nome do atuador">
                <input type="text" name="brand" placeholder="Marca">
                <input type="text" name="model" placeholder="Modelo">
                <input type="text" name="unit" placeholder="Unidade">
                <input type="text" name="topic" placeholder="Tópico">
                <label for="is_active">Ativo:</label>
                <input type="checkbox" name="is_active" id="is_active" placeholder="Ativo" checked>
                <button type="submit" class="btn btn-primary">Adicionar Atuador</button>
            </form>
        {% endif %}
        </div>
    </div>
</div>
{% endblock%}
        
